body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.leaflet-popup h2 {
    margin-bottom: 0;
}
.routes {
    align-items: center;
    display: flex;
    z-index: 1000;
}
.routes select {
    font-size: xx-large;
}
